<header>
  <nav class="flexRow justify-btw align-center">
    <div>
      <img src="../../../assets/img/itaubba-logo.png" alt="Itau BBA Logo" class="header__logo">
    </div>
    <div class="flexRow align-center">
      <div class="flexRow align-center header__language" i18n="Header Language | Shows the language locale @@languageLocale">
        <strong class="cursor-pointer">PT</strong>
      </div>
      <div class="flexRow align-center">
        <img src="../../../assets/img/perfil.jpg" alt="Perfil" class="header__perfil">
        <div class="header__perfil-infos">
          <span class="header__username">{{username}}</span>
          <br>
          <span class="header__office">{{office}}</span>
        </div>
        <i class="fas fa-chevron-down fa-xs"></i>
      </div>
    </div>
  </nav>
</header>
