
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angularItauBba-primary: mat.define-palette(mat.$indigo-palette);
$angularItauBba-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angularItauBba-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angularItauBba-theme: mat.define-light-theme((
  color: (
    primary: $angularItauBba-primary,
    accent: $angularItauBba-accent,
    warn: $angularItauBba-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angularItauBba-theme);

/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors.scss';

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/myriad-pro/MYRIADPRO-REGULAR.OTF');
}

* {
  margin: 0;
  font-family: 'Myriad Pro';
}
table {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main';
}
.header {
  grid-area: header;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;

  background-color: $bg-header;
  border-bottom: 2px solid $border-bottom-header;
}
.main {
  grid-area: main;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.justify-btw {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.cursor-pointer {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
