/*
  Arquivo padrão das cores do projeto
*/

$bg-header: #FFE0CC;
$border-bottom-header: #FF7B24;
$border-right-language: #333331;
$text-color: #1A1A1A;
$saveButtonDisabled: #98460E;

$red: #FF0000;
$green: #00FF00;
$gray: #989898;
$white: #FFFFFF;
$orangeItau: #FA8341;
$black: #000000;
